
/*global*/
body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  ul{
    margin:0;
    padding:0;
  }
  

/*header*/
header{
    background:#0c0b24;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:lightsalmon 2px solid;
    

}
header a{
    color:lightsalmon;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }

  header li{
      display: inline;
      padding: 0px 20px 0px 20px;
      font-weight:bold;
      
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:rgb(253, 1, 1);
    font-weight:bold;
  }

  header a:hover{
      color: rgb(224, 224, 224);
      font-weight: bold;
  }
  /* Showcase */
  #showcase{
    min-height:400px;
    background:url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align:center;
    color:#ffffff;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    font-size:20px;
  }
  /* Newsletter */
  #newsletter{
    padding:15px;
    color:#ffffff;
    background:#0c0b24;
  }
  
  #newsletter h1{
    float:left;
  }
  
  #newsletter form {
    float:right;
    margin-top:15px;
  }
  
  #newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
    border-radius: 10px 0px 0px 10px;
  }
  .btn_subscribe{
    height:38px;
    background:red;
    border: 0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
    border-radius: 0px 10px 10px 0px;
  }
 #sidebar{
   float: right;
   width: 30%;
   margin-top: 10px;
   
 }
 article#main_col{
   float: left;
   width: 60%;
 }
  /* Boxes */
  #boxes{
    margin-top:20px;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #boxes .box img{
    width:90px;
  }
  footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#0c0b24;
    text-align: center;
  }
   /* Media Queries */
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    #newsletter button {
      display:block;
      width:100%;
      border-radius: 10px;
    }
  
    #newsletter form input[type="email"] {
      width:95%;
      margin-bottom:5px;
      border-radius: 10px;
    }
  }

